{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<body>
    <main>
        <section class="contenedor" id="servicio">
            <h2 class="subtitulo">Nuestros Productos</h2>
            <div class="contenedor-servicio">
                <img src="../../static/img/hoddie_itachi.jpg" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Diseños personalizados</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi amet autem suscipit iure. Eaque beatae assumenda temporibus minima repellat! Sit illo unde sint ut harum assumenda accusamus velit ullam voluptate!</p>
                    </div>
                </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Diseños personalizados</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi amet autem suscipit iure. Eaque beatae assumenda temporibus minima repellat! Sit illo unde sint ut harum assumenda accusamus velit ullam voluptate!</p>
                    </div>
                </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Diseños personalizados</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi amet autem suscipit iure. Eaque beatae assumenda temporibus minima repellat! Sit illo unde sint ut harum assumenda accusamus velit ullam voluptate!</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <main>
        <section class="projects">
            <div class="container">
                <h2 class="subtitle">Mis productos</h2>
                <div class="projects_grid">
                    <article class="projects_item">
                        <img src="../../static/img/hoddie_itachi.jpg" class="projects_img">
                        <div class="projects_hover">
                        </div>
                    </article>

                    <article class="projects_item">
                        <img src="../../static/img/hoddie_itachi.jpg" class="projects_img">
                        <div class="projects_hover">
                        </div>
                    </article>

                    <article class="projects_item">
                        <img src="../../static/img/hoddie_itachi.jpg" class="projects_img">
                        <div class="projects_hover">
                        </div>
                    </article>

                    <article class="projects_item">
                        <img src="../../static/img/hoddie_itachi.jpg" class="projects_img">
                        <div class="projects_hover">
                        </div>
                    </article>

                    <article class="projects_item">
                        <img src="../../static/img/hoddie_itachi.jpg" class="projects_img">
                        <div class="projects_hover">
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>

</body>


{% endblock %}